* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Verdana', sans-serif;
    background-size: cover;
    background: url('http://i.huffpost.com/gen/1206555/images/o-CANDY-BUTTONS-facebook.jpg');
}

header {
    width: 100%;
    padding: 10px 0;
    font-size: 20px;
    color: rgb(39, 22, 42);
    font-weight: 700;
}

header img {
  display: block;
  margin: auto;
}

#scores-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}



.clearfix {
    overflow: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

main {
  margin: 0 auto;
}

col-4,
.col-8 {
    padding-left: 1.04166666%;
    padding-right: 1.04166666%;
}

.col-4 {
    width: 33.33%
    
}

.logo {
  height: 125px;
  width: 125px;
}

.col-8 {
    width: 66.67%
}


header li {
    padding: 10px 20px;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    display: inline-block;
}

header ul {
    text-align: right;
    margin-top: 25px
}

.quizStart {
    display: block;
    text-align: center;
    width: 50%;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: normal;
    color: rgb(39, 22, 42);
    font-weight: 700;
}

main div {
  margin: 0 auto;
}

label {
    background-color: #AF7AC5;
    padding: 20px;
    display: inline-block;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
    line-height: 22px;
    border-radius: 12px;
    width: 100%;
    margin: 0 auto 10px auto;
    font-size: 22px;
    
}

label:hover,
label:focus {
    color: #000000;
    background-color: #F4D03F;
}

label input {
  height: 22px;
}

fieldset {
    border: none;
}

h2 {
    text-align: left;
    margin-bottom: 20px;
    text-transform: uppercase;
    -webkit-text-stroke: 1px black;
   color: #FFD700;
   text-shadow:
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

button {
    padding: 20px;
    background-color: #ebca52;
    color: #229954;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    margin: 0 45%;
    text-align: center;
    border-radius: 8px;
}

button:hover,
button:focus {
    background-color: #229954;
    color: #ebca52;
}

button.startButton {
    background-color: #734F96;
    color: #FFD700;
    margin: auto;
}

button.nextButton {
  margin-top: 15px;
}

.questionAnswerForm {
    display: none;
    flex-direction: column;
    width: 70%;
}

.questionAnswerForm h2 {
  text-align: center;
}

/* .questionAnswerForm form fieldset {
  display: flex;
} */

.correctFeedback {
    background: url("https://metrouk2.files.wordpress.com/2017/06/gif4.gif?w=748&h=396&crop=1");
    background-size: cover;
    width: 300px;
    height: 250px;
    text-align: center;
    background-repeat: no-repeat;
    display: block;
}

.wrongFeedback {
    background: url("https://thumbs.gfycat.com/MarriedWellwornAsiansmallclawedotter-max-1mb.gif");
    background-size: cover;
    display: block;
    text-align: center;
    width: 300px;
    height: 250px;
    background-repeat: no-repeat;
}


.questionAnswerForm button {
    width: 75%;
    margin: 0 auto;
    float: left;
}

.questionAnswerForm p, h3, .results p {
    font-size: 30px;
    text-transform: uppercase;
    margin: 0 auto;
    color: #D4AC0D;
    text-align: center;
    font-weight: bold;
     text-shadow:
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;

}

.correctFeedback, .wrongFeedback {
  margin-top: 10px;
  margin-bottom: 10px;
}


.results img {
    width: 66%;
    height: 250px;
    display: block;
    margin: 0 auto;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}


@media screen and (max-width: 768px) {
  .questionAnswerForm p {
    font-size: 20px;
  }
    .logo {
        width: 120px;
        height: 120px;
        display: block;
        margin: auto;
    }
    header ul {
        margin: 10px;
        text-align: center
    }
    h1 {
        font-size: 1.5em
    }
    header ul li {
        padding: 10px;
        font-size: 18px
    }
    .col-4,
    .col-8 {
        width: 100%
    }
    .quizStart {
        width: 100%;
        padding: 40px;
        margin-top: 0
    }
    h2 {
        font-size: 18px
    }
    .questionAnswerForm {
        width: 100%;
        padding: 20px;
        margin-top: 0
    }
    label {
        font-size: 16px;
        padding: 15px
    }
    .correctFeedback img {
        width: 100px;
        height: auto
    }
    .correctFeedback p {
        font-size: 16px;
        margin: 0 15px
    }
    .results p:first-of-type {
        font-size: 18px
    }
    h3 {
        font-size: 25px
    }
}